<!DOCTYPE html>
  {% load static %}
  {% load bootstrap5 %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>BLOODBANK</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "record/style1.css" %}"/>
</head>
  <body>
    <nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url "record:Home" %}"><h4>Home </h4></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <h4>About Us </h4></a>
          </li>
          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'record:historylist' %}"> <h4>History </h4></a>
          </li>


          <li class="nav-item">
            <a class ="nav-link" href="{% url 'record:createhistory' %}"> <h4>Update Record</h4> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}"> <h4>Logout </h4></a>
          </li>

          {% else %}

          <li class="nav-item active">
            <a class="nav-link " href="{% url 'accounts:signup' %}"> <button type="button" class='btn btn-sm btn-warning '><h4 >SignUp</h4></button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}"><h4>Login </h4> </a>
          </li>

            {% endif %}
        </ul>
        </p>
    </nav>


      {% block content %}

      {% endblock %}
<script src="{% static "record/color.js" %}" charset="utf-8"></script>
  </body>
</html>
